<!--div id="sidenav" class="sidenav"  *ngFor="let post of posts">
  <a href="{{post.url}}">{{post.title}}</a>
</div-->
<div class="centernav">
  <input type="text" id="title" name="title" value="" class="title" placeholder="Title"><br>

  <ckeditor [editor]="Editor"
            id="editorr">
    <p>Here goes the initial con tent of the editor.</p>
  </ckeditor>
  <button id="saveData">Save</button>
  <button id="publish">Publish</button>
</div>

<div id="sidenav" class="sidenav">
  <div id="posts" >
    <table>
    <tr>
      <th>Title</th>
      <th>Published</th>
      <th>Selected</th>
    </tr>
      <tr *ngFor="let post of posts">
        <th><a href="{{ this.defLocation+'/modifyPost/'+post.postuuid}}"> {{post.title}}</a></th>
        <th>{{post.published}}</th>
        <th><input align="center" type="checkbox" id="{{post.postuuid}}" name="check" (change)="selectPost(post,$event)"></th>
      </tr>
    </table>
    <p></p>
    <button id="deleteButton">Delete selected</button>

  </div>

</div>
