.centernav {
  width: 60%; /* 0 width - change this with JavaScript */
  padding-left: 15%;
  padding-top: 12%;
  position: relative; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  /*left: 0;*/
  overflow-x: hidden; /* Disable horizontal scroll */
}

.title {
  width: 100%;

}

.ck-editor {
  max-height: 80%;
}


.sidenavvv {
  padding-top: 12%;
  float: bottom;
  height: 100%; /* 100% Full-height */
  width: 15%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  word-wrap: break-word;
}

.sidenav{
  padding-top: 5%;
  padding-left: 15%;
position: center;
  height: auto;
}

.sidenav a {
  position: center;
  color: #131313;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
}

.sidenav table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  align-content: center;
}
